body {
  background-color: rgb(180, 180, 180);
}

#background-pic {
  position: fixed;
  bottom:0;
  left: 0;
  z-index: -10;
}

#remove-animal{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 200px;
  height: 600px;
  border-radius: 20px;
  border: 3px solid rgb(134, 22, 22);
  margin: 150px 12px 12px 75px;
  display: flex;
  flex-wrap:wrap;
}

#box-text {
  margin: 20px 0 0 20px;
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#start-popup {
  background-color: rgb(231, 188, 108);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 8px 8px 12px rgb(85, 57, 31);
}

#title-name {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#intro {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#input {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

#start {
  background-color: rgb(41, 129, 23);
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100px;
  padding: 5px;
  display: none;
}

#player-selection {
  background-color: rgb(41, 129, 23);
  padding: 10px;
  width: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: px;
  display: none;
}

#player-name {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.end-turn-wrapper {
  width: 200px;
  position: absolute;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
  display: none;
}

#end-turn-btn {
  background-color: rgb(255, 251, 0);
  width: 200px;
  padding: 10px;
  border: 10px solid black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#end-turn-btn:hover {
  background-color: rgb(255, 78, 47);
}

#game-container {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameboard {
  background-color: rgb(155, 95, 15);
  border: 8px solid rgb(155, 95, 15);
  width: 560px;
  height: 720px;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 8px 8px 10px rgb(32, 32, 31);
  display: none;
}

.square {
  background-color: white;
  width: 78px;
  height: 78px;
}

.traps {
  background-color: rgb(255, 192, 109);
}

.river {
  background-color: rgb(56, 176, 255);
}

.beastDen {
  background-color: rgb(105, 145, 32);
}

/* player1 - animal pieces */
#animal-P1-lion,
#animal-P1-tiger,
#animal-P1-dog,
#animal-P1-cat,
#animal-P1-rat,
#animal-P1-leopard,
#animal-P1-wolf,
#animal-P1-elephant {
  background-color: rgb(255, 93, 93);
  z-index: 11;
  visibility: visible;
  width: 72px;
  height: 72px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 35px;
}

#animal-P1-lion:hover,
#animal-P1-tiger:hover,
#animal-P1-dog:hover,
#animal-P1-cat:hover,
#animal-P1-rat:hover,
#animal-P1-leopard:hover,
#animal-P1-wolf:hover,
#animal-P1-elephant:hover {
  background-color: rgb(255, 161, 161);
}

/* player2 - animal pieces */
#animal-P2-lion,
#animal-P2-tiger,
#animal-P2-dog,
#animal-P2-cat,
#animal-P2-rat,
#animal-P2-leopard,
#animal-P2-wolf,
#animal-P2-elephant {
  background-color: rgb(134, 91, 204);
  z-index: 11;
  visibility: visible;
  width: 72px;
  height: 72px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 35px;
}

#animal-P2-lion:hover,
#animal-P2-tiger:hover,
#animal-P2-dog:hover,
#animal-P2-cat:hover,
#animal-P2-rat:hover,
#animal-P2-leopard:hover,
#animal-P2-wolf:hover,
#animal-P2-elephan:hover {
  background-color: rgb(212, 186, 255);
}

.highlighted {
  background-color: yellow;
}