body {
  background-color: rgb(153, 153, 153);
}

#start-popup {
  background-color: rgb(255, 217, 160);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
}

#title-name {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#intro {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#input {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

#start {
  background-color: rgb(41, 129, 23);
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100px;
  padding: 5px;
  display: none;
}

#player-selection {
  background-color: rgb(41, 129, 23);
  width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: px;
  display: none;
}

#player-name {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.end-turn-wrapper {
  display: none;
}

#end-turn {
  margin-top: 850px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameboard {
  background-color: rgb(155, 95, 15);
  border: 3px solid rgb(155, 95, 15);
  width: 560px;
  height: 720px;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  display: none;
}

.square {
  background-color: white;
  width: 78px;
  height: 78px;
}

.traps {
  background-color: rgb(255, 192, 109);
}

.river {
  background-color: rgb(56, 176, 255);
}

.beastDen {
  background-color: rgb(105, 145, 32);
}

/* player1 - animal pieces */
#animal-P1-lion,
#animal-P1-tiger,
#animal-P1-dog,
#animal-P1-cat,
#animal-P1-rat,
#animal-P1-leopard,
#animal-P1-wolf,
#animal-P1-elephant {
  background-color: rgb(255, 93, 93);
  z-index: 11;
  visibility: visible;
  width: 72px;
  height: 72px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 35px;
}

#animal-P1-lion:hover,
#animal-P1-tiger:hover,
#animal-P1-dog:hover,
#animal-P1-cat:hover,
#animal-P1-rat:hover,
#animal-P1-leopard:hover,
#animal-P1-wolf:hover,
#animal-P1-elephant:hover {
  background-color: rgb(255, 161, 161);
}

/* player2 - animal pieces */
#animal-P2-lion,
#animal-P2-tiger,
#animal-P2-dog,
#animal-P2-cat,
#animal-P2-rat,
#animal-P2-leopard,
#animal-P2-wolf,
#animal-P2-elephant {
  background-color: rgb(134, 91, 204);
  z-index: 11;
  visibility: visible;
  width: 72px;
  height: 72px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 35px;
}

#animal-P2-lion:hover,
#animal-P2-tiger:hover,
#animal-P2-dog:hover,
#animal-P2-cat:hover,
#animal-P2-rat:hover,
#animal-P2-leopard:hover,
#animal-P2-wolf:hover,
#animal-P2-elephan:hover {
  background-color: rgb(212, 186, 255);
}

.highlighted {
  background-color: yellow;
}